@import url(http://fonts.googleapis.com/css?family=Roboto);
body{

   background-color:#cccccc;
	margin:0;
   padding:0;
   font-family:"Roboto";
   color:#333333;

}

a{
	outline:0;
}

div#contenedor_general{

	margin:0 auto;
	text-align: left;
	padding: 0px;
	border:0;
	width:98%;

}

div#encabezado{

	background-color:#474643;
	padding-top:0;
	margin-top:-2px;

}

div#encabezado div#logo{

	padding:5px 5px 5px 10px;
	float:left;

}

div.cargando{

	background-color:#444444;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;

}

div#encabezado div#logo img {

	float:left;

}

div#encabezado div#logo h1 {

	float:left;
	color:#eeeeee;
	font-weight:bold;
	text-transform:none;
	font-size:12px;
	padding:30px 5px 5px 5px;
	text-transform:capitalize;

}

div#encabezado div#navbar{

	height:80px;
	padding:5px;
	border:1px solid #cccccc;
	margin:0;

}

div#contenedor_buscar{

	float:left;
	margin:24px 0px 0px 20px;

}

div#contenedor_buscar div#buscar{

	height:34px;

}

div#contenedor_buscar div#buscar input,
div#contenedor_buscar div#buscar select{

	height:32px;
	border:0px;
	float:left;
	font-size:22px;
	color:#555555;
	text-indent:5px;
	background-color:#F9F9F9;
	width:185px;

}

div#contenedor_buscar div#buscar select{
	width:120px;
	margin-left:10px;
	border-radius:5px;
	text-transform: capitalize;
}

div#contenedor_buscar div#buscar input._submit_buscar{

	background-color:#999999;
	border:1px solid #999999;
	color:#F9F9F9;
	text-transform:capitalize;
	font-size:18px;
	height:33px;
	margin-left:5px;
	margin-top:0;
	width:90px;

}

div#contenedor_buscar input._submit_buscar:hover{

	background-color:#cccccc;
	color:#555555;
	cursor:pointer;

}

div#cuerpo{

	background-color:#F9F9F9;
	float:left;
	height:60%;
	width:99.5%;
	margin:5px 0px 10px 0px;
	padding:10px 3px 20px 3px;

}

/********************************************************************
Columna izquierda
*********************************************************************/

div#cuerpo div#izquierda{

	float:left;
	width: 18%;
	padding:5px 0px 5px 0px;

}

div#cuerpo div#izquierda div.box div.data,
div#cuerpo div#izquierda div.box_no_color div.data{

	font-size:14px;
	padding:10px;	

}

div#cuerpo div#izquierda div.box div.data div.name,
div#cuerpo div#izquierda div.box_no_color div.data div.name{

	font-weight:bold;
	width:80px;
	float:left;

}

div#cuerpo div#izquierda div.box div.data div.value,
div#cuerpo div#izquierda div.box_no_color div.data div.value{

}

div#cuerpo div#izquierda div.map iframe,
div#cuerpo div#izquierda div.map iframe{
	width:100%;
	height:200px;
}

div#cuerpo div#izquierda div.box,
div#cuerpo div#izquierda div.box_no_color{

	margin:0 auto;
	width:90%;
	clear:both;
	margin-bottom:14px;

}

div#cuerpo div#izquierda div.box{

	border:1px solid #cccccc;
	background: #b8c6df; /* Old browsers */
	background: -moz-linear-gradient(top,  #b8c6df 0%, #8fbcd2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c6df), color-stop(100%,#8fbcd2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b8c6df 0%,#8fbcd2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b8c6df 0%,#8fbcd2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b8c6df 0%,#8fbcd2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b8c6df 0%,#8fbcd2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#8fbcd2',GradientType=0 ); /* IE6-9 */

}

div#cuerpo div#izquierda div.box a,
div#cuerpo div#izquierda div.box_no_color a{
	text-decoration:none;
}

div#cuerpo div#izquierda div.box a:hover,
div#cuerpo div#izquierda div.box_no_color a:hover{
	text-decoration:underline;
	color:#888888;
}

div#cuerpo div#izquierda div.box ul,
div#cuerpo div#izquierda div.box_no_color ul{

	list-style-type:none;
	padding:0px;
	margin-left:7px;

}

div#cuerpo div#izquierda div.box ul li,
div#cuerpo div#izquierda div.box_no_color ul li{

	font-size:14px;
	padding-top:5px;
	height:15px;

}

div#cuerpo div#izquierda div.box ul li span.titulo,
div#cuerpo div#izquierda div.box_no_color ul li span.titulo{

	width:100px;
	float:left;

}

div#cuerpo div#izquierda div.box ul li span.cantidad,
div#cuerpo div#izquierda div.box_no_color ul li span.cantidad{

	width:40px;
	float:left;

}


/********************************************************************
Columna principal
*********************************************************************/

div#principal{

	float:left;
	width:80%;
	margin-left:10px;
	padding-bottom:30px;

}

div#cuerpo h1{
	padding-left:20px;
}


div#pie{

	height:60px;
	background-color:#999999;
	clear:both;
	margin:1% 0 1% 0;
	padding:10px;
	font-size:14px;
	width:98.5%;
	margin-top:30px;
	margin:0 auto;

}


div#pie img{

	float:left;

}

div#pie p{

	float:left;
	padding:10px;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;

}

div#pie div#links{

	float:right;
	margin-top:-5px;

}

div#pie div#links ul{
	list-style-type:none;
}

div#pie div#links ul li{

	padding:10px;
	float:left;
	margin-left:3px;
	border:1px solid #cccccc;
	border-width:0px 1px 0px 0px;
	border-color:#999999;
	font-size:24px;

}

div#pie div#links ul li a{
	text-decoration:none;
	color:#222222;
}

div#pie div#links ul li:hover{
	text-decoration:underline;
}


div.debug{
	border:1px solid #ececec;
	width:100%;
	font-size:22px;
	background-color:#FF6E6E;
}

.error{    
	background-color:#F7115E;
}

input.error{    
	border:1px solid #555555;
	border-radius:3px;
}


div.error{
	border:1px solid #ececec;
	width:100%;
	font-size:22px;
	background-color:#F7115E;
}

div.exito{

	border:1px solid #ececec;
	width:100%;
	font-size:22px;
	background-color:#11F79B;

}

div#alta_usuario{
	background-color:#fbfbfb;
	width:400px;
	border:1px solid #999999;
	padding:10px;

}
div#alta_usuario label{
	display:block;
	width:200px;
	float:left;

}

div#alta_usuario input{
	border:1px solid #0a0a0a;
	float:left;
}


div.checkmultiple{
	height:120px;
	border:1px solid #d3d3d3;
	border-radius:4px;
	width:100%;
	padding:3px;
	overflow:auto;
}


div.checkmultiple div.check{
	padding:5px;
}

div#campos_login a {
	color:#fcfcfc;
}

.comentario{
	width:400px;
	border: 1px dotted #00b2a8; 
	font-family: Arial ,verdana; 
	font-size: 11pt; 
	color: #666666; 
	padding: 10px;
	word-wrap: break-word;
	background-color:#ffffff;
	margin:5px;
}

.debug_sql{
	background-color:lightblue;
	padding:5px;
	font-size:16px;
	border-radius:10px;
	font-weight:bold;
}

div.album img{
	border-radius:5px;
	box-shadow: 2px 2px #cccccc;
	padding:5px;
}

div#videos{

}

div#videos div.video{
	float:left;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	padding-left:10px;
}

div.query{
	border:1px solid #fcfcfc;
	border-radius:5px;
	position:fixed;
	width:90%;
	bottom:1em;
	z-index:9999;
	left:5%;
	font-size:1.3em;
	cursor:move;
}

div.query.ok{
	background-color:#11F79B;
}

div.query.error{
	background-color:#FF9191;
}


div#videos{}

div#videos div.video{
	border:1px solid #bbb;
	border-radius:3px;
	padding:0.5em;
	margin-left:0.5em;
	width:20em;
	min-height:22em;
}

div#videos div.video iframe{
	margin:0 auto;
}

.submit{

	cursor:pointer;
	color: #ffffff;
	display:block;
	border:1px solid #ccc;
	padding:0.5em;
	text-align:center;
	background: rgb(120,201,126);
	font-size:1.2em;
	border-radius:3px;
	background: -moz-linear-gradient(top,  rgba(120,201,126,1) 0%, rgba(107,186,112,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,201,126,1)), color-stop(100%,rgba(107,186,112,1)));
	background: -webkit-linear-gradient(top,  rgba(120,201,126,1) 0%,rgba(107,186,112,1) 100%);
	background: -o-linear-gradient(top,  rgba(120,201,126,1) 0%,rgba(107,186,112,1) 100%);
	background: -ms-linear-gradient(top,  rgba(120,201,126,1) 0%,rgba(107,186,112,1) 100%);
	background: linear-gradient(to bottom,  rgba(120,201,126,1) 0%,rgba(107,186,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78c97e', endColorstr='#6bba70',GradientType=0 );

}

.submit:hover{
	background: rgb(63,198,72);
	background: -moz-linear-gradient(top,  rgba(63,198,72,1) 0%, rgba(107,186,112,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,198,72,1)), color-stop(100%,rgba(107,186,112,1)));
	background: -webkit-linear-gradient(top,  rgba(63,198,72,1) 0%,rgba(107,186,112,1) 100%);
	background: -o-linear-gradient(top,  rgba(63,198,72,1) 0%,rgba(107,186,112,1) 100%);
	background: -ms-linear-gradient(top,  rgba(63,198,72,1) 0%,rgba(107,186,112,1) 100%);
	background: linear-gradient(to bottom,  rgba(63,198,72,1) 0%,rgba(107,186,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fc648', endColorstr='#6bba70',GradientType=0 );
}

.left{
	float:left;
}

.right{
	float:right;
}

.checkbox-list{
	overflow:auto;
	height:4em;
	border:1px solid #cccccc;
	padding:0.5em;
	border-radius:3px;
	margin:1em;
}

.checkbox-list .container{
	clear:both;
	padding:0.5em;
}

.checkbox-list label{
	display:block;
	float:left;
}

.checkbox-list input{
	display:block;
	float:left;
}

.button{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}

.button.buy{
	background-color:#c00;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

.button.view{
	background-color:#00b2a8;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}


.product{
	border:1px solid #eee;
	border-radius:5px;
	width:20em;
	text-align:center;
}

.product img{
	width:80%;
	display:block;
	margin:0 auto;
	border-radius:5px;
	padding-bottom:3px;
}